<!doctype html>

<html>
<head>
	<title>Progress Calendar Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="/css/fullcalendar.css" rel="stylesheet">
	<script src="/js/persistent-checkboxes.js"></script>
	<script src="js/moment.js"></script>
	<script src="/js/fullcalendar.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script defer src="/js/all.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/index.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script defer src="/js/all.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>


</head>

<body>
	<!-- login -->
	<div class="container" id="login-top">
		<div class="loginButton">
			<h6 id="username" style= "color:#ffffff; float: right"> </h6>
					<!--a href="/login" id="loginScreen">Login</a-->
					<button type= "button" style="text-align: left; margin-top;" class="login-button" id="loginScreen">Login</button>
					<button type= "button" style="text-align: left; margin-top" class="logout-button" id="logout">Logout</button>
						<!--span class="facebookLogin" style="float:left; height:10px">
							<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
							</fb:login-button>
						</span>
					<div class="loginName"></div-->
		</div>
		<!--div class="logoutButton" style = "text-align :right; margin-top">
			<button type= "button" class="logout-button" id="logout">Logout</button>
		</div-->
	</div>
	<hr>
	<div class="container" id="calendar-top">
	<div class="titleHeader">
	<!--div class ="facebookLogin">
		<p class="facebookLogin" style="margin-left:83%; margin-top: 3%;">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</p>
	</div>
	<div class="loginName"></div -->
		<div>
			<h1 style="text-align:center;">
				<a href="stats" style="float:left" id="statsScreen" aria-label="Stats Screen">
					<i class="fas fa-chart-pie"></i>
				</a>
				 Progress
  				<a href="/addTask" id="addScreen" style="float:right" aria-label="Add Task">
  				  <i class="fas fa-plus"></i>
  			  </a>
			  <!--
			  <div style="text-align:center;">
				<span id="backButton" style="margin-left:10px;" onclick="backButtonClick()" aria-label="Previous Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  </span>
				<span id="currentMonth"> </span>
				<span id="forwardButton" style="margin-right:10px;"onclick="forwardButtonClick()" aria-label="Next Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  </span>
		  </div>
	  -->
		</h1>
		</div>
	</div>
	<hr>
	<!-- calendar + project list -->

{{#if page_B}}
	<canvas id="testChart" width="400" height="400"></canvas>
	<hr>
	<!-- project list -->
	<div class="container" id="project-bottom" style= "overflow-y: scroll; height: 280px; width: 370px;">
	<div class="calendarList">
			<p class = "addTask">
				<table id="listView">
					<tr id="listTitles" style="border-bottom: 1px solid #ddd;">
						<th><span id="currentDay"></span></th>
						<th>
						</th>
						 <th style="float:right">Due in</th>
						<th><i class="fa fa-bolt" aria-hidden="true"></i></th>
					</tr>
					{{#each projectList}}
					<tr class="project" id={{projectID}} style="border-bottom: 1px solid #ddd;">
						<td class="pName"><input type="checkbox" name="taskCheckbox" class="check" id={{checkID}}/>&nbsp;
							<p class="projName" style="display:inline;">{{name}} </p>
						</td>

							<td>
							<button type="button" class="editScreen">
								<i class="fas fa-edit"></i>
							</button>
							<button type="button" class="deleteBtn">
								<i class="fas fa-trash"></i>
							</button>
							</td>
						<td class="remainingDays" style="float:right; color:#d4d7db;">temp</td>
						<td contenteditable="true" hidden class="duedate" style="float:right; color:#d4d7db;">{{dueDate}}</td>
						<td hidden class="startdate" style="float:right; color:#d4d7db;">{{startDate}}</td>

						<td class="streakCounter" style="text-align:center;">{{currStreak}}</td>
					</tr>
					{{/each}}
				</table>
			</p>
	</div>
	</div>


	<!-- hidden add form -->
	<div class="container" id="add-form">
	<form action="/addTask" method="get" id="adding">
		<div class="form-group">
			<h3>Project Name:</h3>
			<input type="text" class="form-control" placeholder="Project Name" name="projectName">
		</div>
		<div class="form-group">
			<h3>Start Date:</h3>

				<input class="startPick" class="form-control" placeholder="Start Date" name="startDate">
		</div>
		<div class="form-group">
			<h3>Due Date:</h3>
					<input class="duePick" class="form-control" placeholder="Due Date" name="dueDate">
		</div>
		<button type="submit" class="btn btn-primary" id="submit-project">Add Project</button>
		<button type="submit" class="btn btn-default" id="cancel-add">Cancel</button>
	</form>
	</div>

	<div class="container" id="edit-form">
	<form action="/editTask" method="get" id="editing">
		<div class="form-group">
			<h3>Start Date:</h3>

				<input class="editStartPick" class="form-control" placeholder="Start Date" name="startDate">
		</div>
		<div class="form-group">
			<h3>Due Date:</h3>
			<input class="editDuePick" class="form-control" placeholder="Due Date" name="dueDate">
		</div>
		<button type="submit" class="btn btn-primary" id="submit-edit">Edit Project</button>
		<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
	</form>
	</div>

	<!-- hidden login form-->
	<div class="container" id="login-form">
	<form action="/login" method="get" id="login">
		<div class="form-group">
			<h3>Username:</h3>
			<input type="text" class="form-control" placeholder="Username" name="Name">
		</div>
		<div class="form-group">
			<h3>Password</h3>
			<input type="password" class="form-control" placeholder="Password" name="password">
		</div>
		<div class ="facebookLogin">
			<span class="facebookLogin" style="float:right; height:10px">
				<fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</span>
		</div>
		<button type="submit" class="btn btn-primary" id="submit-login">Login</button>
		<button type="submit" class="btn btn-default" id="cancel-login">Cancel</button>
	</form>
	<div class="loginName"></div>
	</div>

	<!-- hidden Logout form-->
	<div class="container" id="logout-form">
		<form action="/logout" method="get" id="logout">
	</div>


{{else}}


		<!-- NEW CALENDAR, NEED TO STYLE -->
		<div id="calendar"></div>
	</div>
		<!-- project list -->
	<div class="container" id="project-bottom" style= "overflow-y: scroll">
		<div class="calendarList">
				<p class = "addTask">
					<table id="listView">
						<tr id="listTitles" style="border-bottom: 1px solid #ddd;">
							<th><span id="currentDay"></span></th>
							<th>
							</th>
							 <th style="float:right">Due in</th>
							<th><i class="fa fa-bolt" aria-hidden="true"></i></th>
						</tr>
						{{#each projectList}}
						<tr class="project" id={{projectID}} style="border-bottom: 1px solid #ddd;">
							<td class="pName"><input type="checkbox" name="taskCheckbox" class="check" id={{checkID}}/>&nbsp;
								<p class="projName" style="display:inline;">{{name}} </p>
							</td>
							<!--td><a href="/editTask" class="editScreen" style="float:right; display:inline;" aria-label="Edit Tasks">
								<i class="fas fa-edit"></i>
							</a-->
								<!--
								<a href="/editTask" style="float:right" class="editScreen" aria-label="Edit Tasks">
									<i class="fas fa-edit"></i>
								</a>
								<a href="/editTask" style="float:right" class="editScreen" aria-label="Edit Tasks">
									<i class="fas fa-trash"></i>
								</a>
								-->
								<td>
								<button type="button" class="editScreen">
									<i class="fas fa-edit"></i>
								</button>
								<button type="button" class="deleteBtn">
									<i class="fas fa-trash"></i>
								</button>
<!--								<button type="button" class="editBtn" stye="float:right;">
									<i class="fas fa-edit"></i>
								</button>
								<button hidden type="button" class="saveBtn" stye="float:right;">
									<i class="fas fa-save"></i>
								</button>
	-->						</td>
							<td class="remainingDays" style="float:right; color:#d4d7db;">temp</td>
							<td contenteditable="true" hidden class="duedate" style="float:right; color:#d4d7db;">{{dueDate}}</td>
							<td hidden class="startdate" style="float:right; color:#d4d7db;">{{startDate}}</td>

							<td class="streakCounter" style="text-align:center;">{{currStreak}}</td>
						</tr>
						{{/each}}
					</table>
				</p>
		</div>
	</div>


	<!-- hidden add form -->
	<div class="container" id="add-form">
		<form action="/addTask" method="get" id="adding">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" class="form-control" placeholder="Project Name" name="projectName">
			</div>
			<div class="form-group">
				<h3>Start Date:</h3>
			<!--	<input class="startPick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Start Date" name="startDate">
-->
					<input class="startPick" class="form-control" placeholder="Start Date" name="startDate">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
		<!--		<input class="duePick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Due Date" name="dueDate">
-->					<input class="duePick" class="form-control" placeholder="Due Date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-project">Add Project</button>
			<button type="submit" class="btn btn-default" id="cancel-add">Cancel</button>
		</form>
	</div>
<!--
	<div class="container" id="edit-form">
		<form action="/editTask" method="get" id="editing">
			<div class="form-group">
				<h3>Are you sure you want to delete?</h3>
				<input hidden type="text" class="form-control" placeholder="New Project Name" name="editProject">
			</div>
			<div class="form-group">
				<h3 hidden>Due Date:</h3>
				<input hidden type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="New Due Date" name="editDueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-edit">Delete</button>
			<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
		</form>
	</div>
-->
	<div class="container" id="edit-form">
		<form action="/editTask" method="get" id="editing">
			<div class="form-group">
				<h3>Start Date:</h3>
			<!--	<input class="startPick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Start Date" name="startDate">
-->
					<input class="editStartPick" class="form-control" placeholder="Start Date" name="startDate">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
<!--				<input type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="New Due Date" name="editDueDate"> -->
				<input class="editDuePick" class="form-control" placeholder="Due Date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-edit">Edit Project</button>
			<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
		</form>
	</div>
	<!-- hidden edit form
	<div class="container" id="edit-form">
		<form action="/editTask" method="get" id="editing">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" class="form-control" placeholder="New Project Name" name="editProject">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
				<input type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="New Due Date" name="editDueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-edit">Edit Project</button>
			<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
		</form>
	</div>
	-->
	<!-- hidden login form-->
	<div class="container" id="login-form">
		<form action="/login" method="get" id="login">
			<div class="form-group">
				<h3>Username:</h3>
				<input type="text" class="form-control" placeholder="Username" name="Name">
			</div>
			<div class="form-group">
				<h3>Password</h3>
				<input type="password" class="form-control" placeholder="Password" name="password">
			</div>
			<div class ="facebookLogin">
				<span class="facebookLogin" style="float:right; height:10px">
					<fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();">
					</fb:login-button>
				</span>
			</div>
			<button type="submit" class="btn btn-primary" id="submit-login">Login</button>
			<button type="submit" class="btn btn-default" id="cancel-login">Cancel</button>
		</form>
		<div class="loginName"></div>
		</div>

		<!--span class="facebookLogin" style="float:left; height:10px">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</span>
	<div class="loginName"></div-->

		<!-- hidden Logout form-->
		<div class="container" id="logout-form">
			<form action="/logout" method="get" id="logout">
	</div>
{{/if}}
</body>
</html>
