<!doctype html>

<html>
<head>
	<!-- Google Analytics Content Experiment code -->
	<!-- <script>function utmx_section(){}function utmx(){}(function(){var
	k='190975980-1',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script> -->
	<!-- End of Google Analytics Content Experiment code -->
	<title>Progress</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="/css/fullcalendar.css" rel="stylesheet">
	<script src="/js/persistent-checkboxes.js"></script>
	<script src="js/moment.js"></script>
	<script src="/js/fullcalendar.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script defer src="/js/all.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/index.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script defer src="/js/all.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">

	<!-- Google Analytics -->
	<!-- <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-135645389-1', 'auto');
	ga('send', 'pageview');
	</script> -->
	<!-- End Google Analytics-->

</head>

<body>
	<div class="navbar">
		<!-- login -->
					<table id="navtable">
						<tr>
						<td width="33%">
	  				  <button type= "button" style="text-align: left; margin-top;" class="login-button" id="loginScreen">Login</button>
	  				  <button type= "button" style="text-align: left; margin-top" class="logout-button" id="logout">Logout</button>
	  		  </td>
				<td width="33%">
					<center><a href="/faq" title="FAQ" style="color:#dee2e6;">
						<i class="fa fa-question-circle fa-2x"></i>
					</a></center>
					</td>
				<td width="33%">
						<h6 id="username" style= "color:#dee2e6;"> </h6>
					</td>
				</tr>
				</table>
</div>

	<!-- <hr class="top-hr"> -->
	<div class="container2" id="calendar-top">
	<div class="titleHeader" style="color:#dee2e6;">
		<div>
			<h1 id=progress style="text-align:center;">
	{{#if page_B}}
				<a href="statsB" title="Stats Page" style="float:left" id="statsScreenB" aria-label="Stats Screen">
					<i class="fas fa-chart-pie" style="color:#dee2e6;"></i>
				</a>
	{{else}}
				<a href="stats" title="Stats Page" style="float:left" id="statsScreen" aria-label="Stats Screen">
					<i class="fas fa-chart-pie" style="color:#dee2e6;"></i>
				</a>
	{{/if}}

				 Progress

	{{#if page_B}}
  				<a href="/addTaskB" title="Add Project" id="addScreenB" style="float:right" aria-label="Add Task">
  				  <i class="fas fa-plus" style="color:#dee2e6;"></i>
  			  </a>
	{{else}}
					<a href="/addTask" title="Add Project" id="addScreen" style="float:right" aria-label="Add Task">
  				  <i class="fas fa-plus" style="color:#dee2e6;"></i>
  			  </a>
	{{/if}}

		</h1>
		</div>
	</div>
	<hr class="mid-hr">
	<!-- calendar + project list -->

{{#if page_B}}
	<canvas class= "container" id="testChart" width="400" height="400"></canvas>
<br>
	<hr class="top-hr">

{{else}}
		<!-- NEW CALENDAR -->
		<div class="container" id="calendar"></div>
{{/if}}


	</div>
		<!-- project list -->
		{{#if page_B}}
	<div class="container" id="project-bottom-B" style="overflow-y: scroll">
		{{else}}
	<div class="container" id="project-bottom-A" style= "overflow-y: scroll">
		{{/if}}

		<div class="calendarList">
				<p class = "addTask">
					<table id="listView">
						<thead>
						<tr id="listTitles" style="border-bottom: 1px solid #ddd; background:#FFF;">
							<th><span id="currentDay"></span></th>
							<th>
									{{#if page_B}}
										<td>
											<a href="/deleteTaskB" title="Delete Project" style="float:right" class="deleteScreenB" aria-label="Delete Tasks">
												<i class="fas fa-trash"></i>
											</a>
										</td>
									{{else}}
										<td>
											<a href="/deleteTask" title="Delete Project" style="float:right" class="deleteScreen" aria-label="Delete Tasks">
												<i class="fas fa-trash"></i>
											</a>
										</td>
									{{/if}}
							</th>
							 <th style="float:right">Due in</th>
							<th><i title="Project Streak" class="fa fa-bolt" aria-hidden="true"></i></th>
						</tr>
					</thead>
					<tbody>
						{{#each projectList}}
						<tr class="project" id={{projectID}} style="border-bottom: 1px solid #ddd;">
							<td class="pName"><input type="checkbox" name="taskCheckbox" class="check" id={{checkID}} />&nbsp;
								<p class="projName" style="display:inline;">{{name}} </p>
							</td>
							<td>
							</td>
							<td>
							</td>
							<!--td><a href="/editTask" class="editScreen" style="float:right; display:inline;" aria-label="Edit Tasks">
								<i class="fas fa-edit"></i>
							</a-->
									<!--
								<button type="button" class="editScreen">
									<i class="fas fa-edit"></i>
								</button> -->

					<td class="remainingDays" style="float:right; color:#d4d7db;">temp</td>
					<td hidden class="duedate" style="float:right; color:#d4d7db;">{{dueDate}}</td>
					<td hidden class="startdate" style="float:right; color:#d4d7db;">{{startDate}}</td>
					<td class="streakCounter" style="text-align:center;">{{currStreak}}</td>
						</tr>
					</tbody>
						{{/each}}
					</table>
				</p>
		</div>
	</div>

	{{#if page_B}}
	<!-- hidden add form -->
	<div class="container" id="add-formB">
		<form action="/addTaskB" method="get" id="addingB">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" required class="form-control" placeholder="Project Name" name="projectName">
			</div>
			<div class="form-group">
				<h3>Start Date:</h3>
			<!--input class="startPick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Start Date" name="startDate"-->
					<input required class="startPick" class="form-control" placeholder="Start Date" name="startDate">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
			<!--input class="duePick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Due Date" name="dueDate"-->
				<input required class="duePick" class="form-control" placeholder="Due Date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-projectB">Add Project</button>
			<button type="submit" class="btn btn-default" id="cancel-addB">Cancel</button>
		</form>
	</div>

	<!-- hidden Delete Form-->
		<div class="container" id="delete-formB">
			<form action="/deleteTaskB" method="get" id="deletingB">
				<div class="form-group">
					<h3>Type in Project Name</h3>
					<input required type="text" class="form-control" placeholder="Project Name" name="deleteProjName">
				</div>
				<button type="submit" class="btn btn-primary" id="submit-deleteB">Delete</button>
				<button type="submit" class="btn btn-default" id="cancel-deleteB">Cancel</button>
			</form>
		</div>

	{{else}}

	<!-- hidden add form -->
	<div class="container" id="add-form">
		<form action="/addTask" method="get" id="adding">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" required class="form-control" placeholder="Project Name" name="projectName">
			</div>
			<div class="form-group">
				<h3>Start Date:</h3>
			<!--input class="startPick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Start Date" name="startDate"-->
					<input required class="startPick" class="form-control" placeholder="Start Date" name="startDate">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
		<!--input class="duePick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Due Date" name="dueDate"-->
			<input required class="duePick" class="form-control" placeholder="Due Date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-project">Add Project</button>
			<button type="submit" class="btn btn-default" id="cancel-add">Cancel</button>
		</form>
	</div>

	<!-- hidden Delete Form-->
		<div class="container" id="delete-form">
			<form action="/deleteTask" method="get" id="deleting">
				<div class="form-group">
					<h3>Type in Project Name</h3>
					<input required type="text" class="form-control" placeholder="Project Name" name="deleteProjName">
				</div>
				<button type="submit" class="btn btn-primary" id="submit-delete">Delete</button>
				<button type="submit" class="btn btn-default" id="cancel-delete">Cancel</button>
			</form>
		</div>

	{{/if}}

<!--hidden edit form-->
	<!--div class="container" id="edit-form">
		<form action="/editTask" method="get" id="editing">
			<div class="form-group">
				<h3>Start Date:</h3-->
			<!--	<input class="startPick" type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Start Date" name="startDate">
-->
					<!--input class="editStartPick" class="form-control" placeholder="Start Date" name="startDate">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3-->
<!--				<input type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="New Due Date" name="editDueDate"> -->
				<!--input class="editDuePick" class="form-control" placeholder="Due Date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-edit">Edit Project</button>
			<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
		</form>
	</div-->
	<!-- hidden login form-->
	<div class="container" id="login-form">
		<form action="/login" method="get" id="login">
			<div class="form-group">
				<h3>Username:</h3>
				<input required type="text" class="form-control" placeholder="Username" name="Name">
			</div>
			<div class="form-group">
				<h3>Password</h3>
				<input required type="password" class="form-control" placeholder="Password" name="password">
			</div>
			<div class ="facebookLogin">
				<span class="facebookLogin" style="float:right; height:10px">
					<fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
					</fb:login-button>
				</span>
			</div>
			<button type="submit" class="btn btn-primary" id="submit-login">Login</button>
			<button type="submit" class="btn btn-default" id="cancel-login">Cancel</button>
		</form>
		<div class="loginName"></div>
		</div>
</body>
</html>
